.nav-list {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
	margin-left: -20px;
	margin-right: -20px;
}
.nav-item {
	padding: 0 36px;
	text-align: center;
	/* color: #fff; */
}

.nav-item a {
	color: #fff;
	transition: .1s all ease-out;
	padding-bottom: 5px;
}

.nav-item a:hover,
.nav-item a[aria-current] {
	color: #109cf1;
	border-bottom: 3px solid #109cf1;
	transition: .07s all ease-out;
	text-decoration: none;
}
