.copyright {
	text-align: center;
	margin-top: 64px;
	color: #444;
	font-size: 12px;
}

.footer {
	padding: 46px 0;
	border-top: 1px solid #222;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
}
.footer-list ul,
.contacts {
	list-style: none;
}
.footer-list li {
	margin-bottom: 16px;
}

.footer-list li a:hover {
	border-bottom: 1px solid rgb(201, 201, 201);
	padding-bottom: 2px;
}

.contacts li {
	margin-bottom: 10px;
	display: flex;
	align-items: flex-start;
}
.footer-header {
	font-size: 18px;
	margin-bottom: 24px;
	font-weight: bold;
	padding-bottom: 2px;
	text-transform: uppercase;
	border-bottom: 2px solid #fff;
	width: max-content;
}
.social-item {
	margin-right: 36px;
}

.footer-social {
	margin-top: 36px;
}
